@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --c1: #0f0f0f;
    --c2: #d4ffde;
    --c3: #00fa60;
    --c4: #004b3bde;
    --f1: "Fira Code", Arial;
}

@media screen and (min-width: 0) {
    #title, #subtitle, #banner {
        position: relative;
        margin: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    #title, #subtitle, #banner {
        position: absolute;
        margin: 0;
    }
    
    #title {
        top: 20%;
        left: 10%;
    }

    #subtitle {
        top: 30%;
        left: 15%;
    }

    #banner {
        bottom: 20%;
    }
    
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--f1);
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--c1) url(media/bckg.png) no-repeat fixed;
    background-size: cover;
    color: var(--c2);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    filter: drop-shadow(0 0 1rem var(--c4));
}

nav {
    z-index: 1;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    padding: 1rem;
    background-color: var(--c4);
    box-shadow: .2rem .2rem 0 var(--c3);
    border: 2px solid var(--c3);
    border-radius: 1rem;
    transition: .1s;
}

nav:hover {
    transform: translate(-.1rem, -.1rem);
    box-shadow: .3rem .3rem 0 var(--c3);
}

a {
    text-decoration: none;
    color: var(--c2);
    transition: .3s;
}
a:hover {
    text-shadow: 0 0 .5rem var(--c3);
}

.box {
    text-align: start;
    padding: 5rem;
    h1 {
        margin: 0 0 2rem 0;
    }
}

#banner {
    min-width: 30rem;
    width: 35vw;
    box-shadow: .2rem .2rem 0 var(--c3);
    border: 2px solid var(--c3);
    border-radius: 1rem;
}