@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --c1: #0f0f0f;
    --c2: #d4ffde;
    --c3: #00fa60;
    --c4: #004b3be1;
    --f1: "Fira Code", Arial;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--f1);
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--c1);
    color: var(--c2);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    z-index: 1;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    padding: 1rem;
    background-color: var(--c4);
    border: 2px solid var(--c3);
    border-radius: 1rem;
}

a {
    text-decoration: none;
    color: var(--c2);
    transition: .3s;
}
a:hover {
    text-shadow: 0 0 .5rem var(--c3);
}

#title {
    position: absolute;
    top: 20%;
    left: 10%;
}

#subtitle {
    position: absolute;
    top: 30%;
    left: 15%;
}

section {
    height: 100vh;
    width: 100vw;
    filter: drop-shadow(0 0 1rem var(--c4));
}

#first {
    background: url(media/bckg.png) no-repeat fixed;
    background-size: cover;
}

#about-me {
    background: linear-gradient(-135deg, var(--c4), var(--c1));
}

#projects {
    background: url(media/bckg.png) no-repeat fixed;
    background-size: cover;
}

#contact {
    background: linear-gradient(135deg, var(--c4), var(--c1));
}